<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FindCamps</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/"
          ><i> <i class="fa fa-fw fa-home"></i></i>Home</a
        >
        <a class="nav-link" href="/campgrounds"
          ><i class="fa fa-fire" aria-hidden="true"></i> Campgrounds</a
        >
        <a class="nav-link" href="/campgrounds/new"
          ><i class="fa fa-plus" aria-hidden="true"></i> New Campground</a
        >
      </div>
    </div>
  </div>
</nav>
